<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Word popularity demo</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tagsinput.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/chart.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="jumbotron mt-3">
            <h1>Word popularity visualizer</h1>
            <h4>This tool helps you visualize the popularity of words in song lyrics over the last 50 years.</h4>
            <br />
            <div class="container">
                <form>
                    <div class="form-group">
                        <label for="inputValues">Enter the words to visualize their popularity:</label>
                        <input type="text" id="inputValues" multiple type="text" data-role="tagsinput"
                            value="blues,rock" class="form-control">
                    </div>
                    <button id="submitBtn" type="button" class="btn btn-primary">Visualize</button>
                </form>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="container">
                <div class="chart-wrapper" id="chart-line1"></div>
            </div>
        </div>
        <nav class="navbar fixed-bottom  navbar-light bg-light">
            <a href="https://sigir.org/sigir2019/program/accepted/" class="navbar-text">Decoding the Style and Bias of
                Song Lyrics - SIGIR
                2019</span>
                <a class="navbar-text text-dark" href="https://linkedin.com/in/sambhav-kothari">Made by Sambhav
                    Kothari</a>
        </nav>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tagsinput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/multiline.js') }}"></script>
    <script>
        $("#submitBtn").click(visualize);
        $("#submitBtn").submit(visualize);
        function visualize() {
            var values = $("#inputValues").tagsinput("items");
            var columns = {};
            $.each(values, function (idx, value) {
                columns[value] = { column: value };
            });
            $.post("/values", { "values": values }, function (data) {
                var chart = makeLineChart(data.values, 'year', columns, { xAxis: 'Year', yAxis: 'Rank (lower is better)' });
                $("#chart-line1").empty();
                chart.bind("#chart-line1");
                chart.render();
            });
        }
    </script>
</body>

</html>
